.reset {
  display: flex;
  height: 100vh;
}

.reset_container {
  flex-grow: 1;
  padding: 20px;
}

.content {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="file"] {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #45a049;
  }

  &:disabled {
    background-color: #ddd;
    color: #555;
    cursor: not-allowed;
  }
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
}

.success-message {
  color: #008000;
  margin-top: 10px;
}
