.profile {
  display: flex;
  align-items: flex-start;

  .videos_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 20px;

    .video_card {
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      video {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px;
      }

      .views_overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 8px 16px;
        border-radius: 8px;
      }
    }
  }
 

  .profile-content {
    flex: 6;
    padding: 5rem 0 1rem 0;

    .search-area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      input {
        flex: 1;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
        outline: none;

        &::placeholder {
          color: #aaa;
        }
      }

      button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #2980b9;
        }
      }
    }

  }


  @media screen and (max-width: 1000px) {
    .profile_container {
      .top {
        width: 100%;

        .user_info {
          flex: 2;
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    .top {
      flex-direction: column;
      gap: 1rem;

      .user_info,
      .account_info {
        width: 100%;

        // .profile_pic {
        //   img {
        //     width: 1rem;
        //   }
        // }
      }
    }
  }
}
