.home {
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  overflow-x: hidden;

  .home_container {
    flex: 6;
    padding-bottom: 3rem;

    .content {
      padding: 5rem 0 1rem 0;

      .games_slider {
        width: 100%;
        margin: 0 auto;
        padding: 0.6rem 3rem;
        display: flex;
        align-items: center;

        @media screen and (max-width: 1500px) {
          padding: 0.6rem 2rem;
        }
        @media screen and (max-width: 900px) {
          padding: 0.6rem 10px;
        }

        .div {
          width: 100%;
        }
        .game_box {
          padding: 0 1rem;

          @media screen and (max-width: 900px) {
            padding: 0 0.5rem;
          }

          img {
            border-radius: 10px;
            width: 20rem;
            height: 15rem;

            @media screen and (max-width: 900px) {
              width: 100%;
              height: 15rem;
            }
          }

          .title {
            font-size: 1.5rem;
            margin: 10px 0;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.minesTitle {
  font-size: 25px;
  font-weight: bold;
}

.easyWin_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20%;
}

.minesTable {
  display: flex;
  flex-direction: column; /* Stack the table rows vertically on small screens */
  align-items: center; /* Center the table horizontally */
  width: 100%;

  td {
    width: 100%; /* Make each cell take full width */
  }

  .verticalLine {
    width: 40px;
    background-color: #000;
  }

  @media screen and (max-width: 700px) {
    width: 100%; /* Make the table take full width on small screens */
  }
}

.redButton {
  background-color: red;
  padding: 10px;
}
.blueButton {
  background-color: blue;
  padding: 10px;
  width: 100%;
}

.buttonSpacer {
  margin-bottom: 18px;
}

.minesButtonsContainer {
  max-height: 800px;
  overflow-y: scroll;
}
.videos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;

  @media (max-width: 768px) {
    flex-direction: column; /* Switch to a column layout on smaller screens */
  }

  .video-item {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width and gap as needed */

    @media (max-width: 768px) {
      flex: 0 0 100%; /* Full width on smaller screens */
    }
  }
}


.glowButton,
.glowButtonAviator {
  width: 100%;
  font-size: 1.5rem;
  padding: 15px 20px;
  margin : 4px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 4px;
  transition: 0.5s;

  &:hover {
    background-color: #03e9f4;
    color: var(--white-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
  }

  &::before,
  &::after,
  &::before::before,
  &::before::after,
  &::after::before,
  &::after::after {
    content: "";
    position: absolute;
    display: block;
  }

  &::before {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--accent-color));
    animation: btn-anim1 1s linear infinite;
  }

  &::after {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--accent-color));
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
  }

  &::before::before {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--accent-color));
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
  }

  &::before::after {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--accent-color));
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #4caf50, 0 0 20px #4caf50, 0 0 30px #4caf50;
  }
  to {
    box-shadow: 0 0 20px #4c87af, 0 0 30px #4c87af, 0 0 40px #4c87af;
  }
}
@keyframes glowAviator {
  from {
    box-shadow: 0 0 10px #4caf50, 0 0 20px #4caf50, 0 0 30px #4caf50;
  }
  to {
    box-shadow: 0 0 20px #4c87af, 0 0 30px #4c87af, 0 0 40px #4c87af;
  }
}

.glowButtonAviator {
  background-color: #ff0000; // Change the color as needed
}
