.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Changed to 100% */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 800px;
  height: 80%;
  max-height: 600px;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.example-answers {
  margin-top: 20px;
}

.example-answers p {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.4;
}

.example-answers p:nth-child(even) {
  background-color: #f5f5f5;
}

.input-container {
  margin-top: 20px;
  display: flex;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-container .send-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.input-container .send-button:hover {
  background-color: #0056b3;
}

.post_form {
  margin-bottom: 20px;
}

.post_form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
