.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.post_form textarea {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}



.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  z-index: 9999;
}

.post_form {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




.comments_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  margin-top: 20px;

  .comment_card {
    position: relative;
    overflow: hidden;
    margin-bottom: 28px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
}

.post_form input[type="file"] {
  margin-bottom: 10px;
}

.post_form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post_form button:hover {
  background-color: #0056b3;
}

.modal {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%; 
  height: 90%; 
  overflow: auto;
  position: relative;
}



.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.input-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.input-container .send-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.input-container .send-button:hover {
  background-color: #0056b3;
}

.image-preview {
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 10px;
}

.example-answers {
  margin-top: 20px;
}

.example-answers p {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.4;
}

.example-answers p:nth-child(even) {
  background-color: #f5f5f5;
}
