.wallet {
  display: flex;
  align-items: flex-start;

  .wallet_container {
    flex: 6;
    padding: 5rem 0 1rem 0;

  
     

      .book-list {

        .scroll-view {
          max-height: 300px; 
          overflow-y: auto;
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding: 12px 0;

            span {
              font-size: 18px;
            }

            button {
              background-color: #3498db;
              color: #fff;
              padding: 8px 16px;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: #2980b9;
              }
            }
          }
        }
      }
    }
  }
